<div class="progress-bar-frame">
                <div class="progress-bar flex-row main-stroke">
                  <p class="progress-bar__text text-very-small">Progress: 0/1 topics completed</p>
                  <div class="progress-bar__line flex-row">
                    <span class="line__gray"></span>
                    <span class="line__green"></span>
                  </div>
                  <p class="progress-bar__percentage text-very-small">0%</p>
                </div>
          </div>