@import url("/src/css/base/veriables.css");

:host {
    grid-area: progress-bar;
}

.progress-bar-frame {
    opacity: 100%;
}

.progress-bar {
    gap: var(--spacing-4);
	/* width: calc(100dvw - 6rem); */
    align-items: center;
	padding: var(--spacing-4);
	background-color: var(--secondary-bg-color);
}

.progress-bar__line {
	position: relative;
	width: 100%;
}

.line__gray {
    width: 100%;
    height: 4px;
    border-radius: 2px;
	background-color: var(--main-stroke-color);
}

.line__green {
    position: absolute;
    height: 4px;
    border-radius: 2px;
	background-color: #2BBA3D;
    transition: width 0.15s ease-in-out;
    /* transition-duration: width .3s; */
}