@import url("/src/css/base/veriables.css");

:host {
    grid-area: note-frame;
}

.notes-frame {
    height: calc(100vh - 10%);;
    width: clamp(33%, 100%, 100%);
    margin-bottom: 16px;
    padding-right: 8px;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 8px;
}

    
.notes {
    width: 100%;
    height: fit-content;
    gap: 8px;
}

.note {
    /* gap: var(--spacing-4); */
    width: 100%;
    height: fit-content;
    /* margin-bottom: 8px; */
    overflow: clip;
}

.title-section {
    align-items: center;
    width: auto;
    height: fit-content;
    justify-content: space-between;
    margin: 8px;
}

.title-section__left {
    gap: 6px;
    align-items: center;
}

.title-section__right {
    gap: var(--spacing-1);
    align-items: center;
    height: 18px;
}

.topic-title {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
    height: fit-content;
    align-items: center;
}

    /* background-color: #2BBA3D; */

.topic-title__unckecked {
    height: 14.0167px;
    width: 14.0167px;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: var(--icon-color-2);
    /* background-color: var(--icon-color-2); */
}

.topic-title__ckecked {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.topic-title__title {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    font-family: var(--font-family);
    margin-bottom: var(--spacing-2) 0;
    color: var(----text-color-main);
}


.note-section {
    display: none;
    flex-direction: column;
    gap: var(--spacing-4);
    /* margin: 12px 0px 8px 0px; */
    width: 100%;
    /* padding: 0 30px; */
    height: 0px;
    overflow: hidden;
    background-color: var(--note-bg-color);
    border-top: solid 0.8px var(--main-stroke-color);
}

/* 
.overview__text:focus {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-p);
    font-family: var(--font-family);
    margin-bottom: var(--spacing-2) 0;
    white-space: nowrap;
    padding: 0px;
} */

.note-section__note {
    gap: 6px;
}

.note__tag {
    font-size: var(--font-size-h3);
    font-weight: 300;
}
.note__text {
    padding: 0 8px;
    text-overflow: ellipsis;
}
.note__frame {
    gap: var(--spacing-4);
    width: 100%;
    height: fit-content;
    background-color: var(--note-bg-color);
    /* border-radius: var(--border-size-1); */
    padding: 16px 12px;
}

/* .note-section-icons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
} */

/* .note-section-icons__icon {
    scale: .78;
    color: var(--icon-color-2);
} */

.add-topic-frame {
    width: 100%;
    height: fit-content;
    padding: 0 30px;
}

.add-topic-btn {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: var(--border-size-1);
    border-color: var(--secondary-bg-color);
    border-width: 0.8px;
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 16px 0;
    color: var(--input-color-1);
}


.add-topic-btn:hover {
    border-color: var(--hover-bg-color);
    /* color: var(--text-color-main) */
}

.active {
	display: flex;
	height: fit-content;
}

.hidden {
	display: none;
}