@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./base/veriables.css");
@import url("./base/layout.css");
@import url("./base/icons.css");

@import url("../components/nav-bar/navbar.css");
@import url("../components/notes/new-note.css");
@import url("../components/progress-bar/progeress-bar.css");
@import url("../components/video-player/video-player.css");
@import url("../components/empty-note/empty-note.css");

@import url("./elements/divider.css");

@import url("./base/utility.css");


/* Main control */
body {
	text-wrap: balance;
	font: var(--font-size-p) var(--font-family);
	background: var(--main-bg-color);
	color: var(--text-color-main); 
	margin: var(--spacing-2);
	min-height: calc(100dvh - 1rem);
	max-height: calc(100dvh - 32px);
	overflow-y: hidden;
}


/* Scroll bar styling */
@supports (scrollbar-color: auto) {
  .note-frame__notes {
    /* Format: scrollbar-color: [Thumb Color] [Track Color]; */
    scrollbar-color: var(--scrollbar-color) var(--main-bg-color);
    
    /* Options: auto | thin */
    scrollbar-width: thin; 
  }
}

@supports selector(::-webkit-scrollbar) {
  /* The overall scrollbar width/height */
  .note-frame__notes::-webkit-scrollbar {
    width: 10px;     /* Vertical scrollbar width */
    height: 10px;    /* Horizontal scrollbar height */
  }

  /* The background track underneath the bar */
  .note-frame__notes::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    border-radius: 5px;
  }

  /* The draggable handle/thumb */
  .note-frame__notes::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 5px;
  }

  /* Interactive hover effect on the thumb */
  .note-frame__notes::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}


note-card {
    display: block;
    border: 1px solid red;
}