@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./base/veriables.css");

@import url("./components/note-frame__heading.css");
@import url("./components/note-frame__notes.css");


@import url("./elements/divider.css");

/* Main styling */
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
	font: var(--font-size-p) var(--font-family);
	background: var(--main-bg-color);
	color: var(--text-color-main); 
}

.main-stroke {
	border-style: solid;
	border-radius: var(--border-size-1);
	border-width: var(--border-width-1);
	border-color: var(--main-stroke-color);
}

.hidden {
	display: none;
}

/* 
section {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.center {
	text-align: center;
}


.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-2);
	flex-wrap: wrap;
}
 */


/* Elements */
.main-frame {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
	height: fit-content;
}

.note-frame {
	display: flex;
	flex-direction: column;
	gap: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
	width: clamp(33%, 66%, 1000px);
}


/* .icon {
	box-sizing: content-box;
	display: var(--fa-display, inline-block);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	vertical-align: -0.125em;
	height: 1em;
	width: var(--fa-width, 1.25em);
	overflow: visible;
} */

.default:hover {
	border-radius: 2px;
	background-color: var(--hover-bg-color);
}

/* Icons */
.fa-ellipsis {
	padding: 2px 0.5px;
} 

.fa-angle-down, .fa-angle-up {
	padding-left: 0.5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.fa-circle-check {
	color: var(--success-color);
	height: 100%;
  	width: 100%;
}