<aside class="navbar-frame main-stroke">
          <div class="navigation flex-column"> 
            <button class="navigation__logo flex-column default"> 
              <span class="logo-icon"></span>
            </button>
  
            <span class="nav-divider"></span>
  
             <div class="navigation__main">
  
               <button class="navigation-icons__icon flex-column"> 
                 <div class="nav-icon-frame default">
                   <i class="fa-solid fa-plus"></i>
                  </div>
                  <span class="nav-icon__text">New note</span>
                </button>
  
             </div>
  
              
               <div class="navigation__buttom">
  
                <button class="navigation-icons__icon flex-column"> 
                 <div class="nav-icon-frame flex-rowdefault">
                   <i class="fa-solid fa-heart"></i>
                  </div>
                  <span class="nav-icon__text">Feedback</span>
                </button>
  
               </div>
  
          </div>
        </aside>