/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .svg-inline--fa {
	size: 0px;
} */

/* Variables */
:root {
	--main-bg-color: #0B0E12;
	--secondary-bg-color: #0D1116;
	--note-bg-color: #0F1215;
	--hover-bg-color: #464646;
	--main-stroke-color: #4A4C4F;
	--yellow-stroke-color: #B5AC49;
	--green-stroke-color: #314B3E;

	--input-color-1: #737373;

	--icon-color-1: #FFFFFF;
	--icon-color-2: #A6A6A6;
	--icon-focus-1: #8A38F5;

	--text-color-main: #FFFFFF;
	--text-color-placeholder: #86888A;
	--text-color-inactive: #D9D9D9;
	--text-color-yellow: #FDFF97;
	--text-color-green: #67AE6B;
	--text-color-link: #8523EE;

	--divider-color: #24262A;

	--success-color: #2BBA3D;

	--font-family: 'Inter', sans-serif;

	--text-xxs-25rem: 10px;
	--text-xs-75rem: 12px;
	--text-sm-875rem: 14px;
	--text-base-1rem: 16px;
	--text-lg-125rem: 18px;
	--text-xl-150rem: 20px;
	--text-2xl-175rem: 22px;
	--text-3xl-1875rem: 24px;

	--font-size-h1: var(--text-xl-150rem);
	--font-size-h2: var(--text-base-1rem);
	--font-size-h3: var(--text-sm-875rem);
	--font-size-p: var(--text-sm-875rem);
	--font-size-small: var(--text-xs-75rem);
	--font-size-very-small: var(--text-xxs-25rem);
	--font-size-bread-crumbs: var(--text-xxs-25rem);

	--font-weight-h1: 600;
	--font-weight-h2: 600;
	--font-weight-h3: 500;
	--font-weight-p: 400;
	--font-weight-small: 400;
	--font-weight-very-small: 400;
	--font-weight-bread-crumbs: 400;

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 14px;
	--spacing-5: 16px;
	--spacing-6: 24px;
	--spacing-7: 32px;

	--border-size-1: 6px;
	--border-width-1: 0.8px;
}


/* Main styling */
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
	font: var(--font-size-p) var(--font-family);
	background: var(--main-bg-color);
	color: var(--text-color-main); 
}

h1 {
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-h1);
	font-family: var(--font-family);
}

h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
	font-family: var(--font-family);
	margin-bottom: var(--spacing-2) 0;
}

h3 {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-h3);
	font-family: var(--font-family);
	margin-bottom: var(--spacing-2) 0;
}

p {
	font-size: var(--font-size-p);
	font-weight: var(--font-weight-p);
	font-family: var(--font-family);
	margin-bottom: var(--spacing-2) 0;
	white-space: nowrap;
}

a {
	color: var(--text-color-main);
	text-decoration: none;
}

a:hover {
	color: var(--text-color-link);
	text-decoration: underline;
}


/* Utility */
.text-small {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-small);
}
.text-very-small {
	font-size: var(--font-size-very-small);
	font-weight: var(--font-weight-very-small);
}

.font-bread-crumbs {
	font-size: var(--font-size-bread-crumbs);
	font-weight: var(--font-weight-bread-crumbs);
}

.main-stroke {
	border-style: solid;
	border-radius: var(--border-size-1);
	border-width: var(--border-width-1);
	border-color: var(--main-stroke-color);
}

/* 
section {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-2);
	flex-wrap: wrap;
}
 */


/* Elements */
.main-frame {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
	height: fit-content;
}

.note-frame {
	display: flex;
	flex-direction: column;
	gap: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
	width: clamp(33%, 66%, 1000px);
}

.note-frame__heading {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-1);
	width: 100%;
	height: fit-content;
	padding: var(--spacing-2);
}

/* Bread crumbs */
.bread-crumbs {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-1);
	height: fit-content;
}

.bread-crumbs-nav {
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: fit-content;
	gap: 1.78px;
	margin: 0px;
	padding: 0px;
}

.bread-crumbs-nav path{
	display: flex;
	scale: 0.85;
}

.bread-crumbs-nav__icon {
	font-size: 2px;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}

.bread-crumbs-nav__icon:hover {
	background-color: var(--hover-bg-color);
}

.bread-crumbs-items {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-2);
	margin: var(--spacing-2);
}


/* Title section */
.note-heading {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	height: fit-content;
}

.headign-title {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.heading-info__title {
	width: 100%;
	height: fit-content;
}

.heading-info-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.heading-info-details__logo {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: var(--text-color-inactive);
}

.heading-info-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.elipse-small {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: var(--text-color-inactive);
}


.bread-crumbs p {
	font-size: var(--font-size-bread-crumbs);
	font-weight: var(--font-weight-bread-crumbs);
}


.bread-crumbs a:hover {
	color: var(--text-color-main);
	text-decoration: underline;
}

.heading-badge {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-2);
	align-items: center;
	padding: 4px 8px;
	border-style: solid;
	border-radius: 6px;
	border-width: 0.8px;
	border-color: var(--yellow-stroke-color);
}

.status-frame__status {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-small);
}


.status-frame__ellipse {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--text-color-yellow);
}

.heading-icon {
	height: 16px;
	width: 14px;
}

.divider {
	display: flex;
	padding: var(--spacing-1);
}

.line {
	background-color: var(--divider-color);
	height: 1px;
	width: 100%;
}


.note-frame__notes {
	display: flex;
	flex-direction: column;
	padding: 8px 32px;
	gap: 24px;
	width: 100%;
	height: fit-content;
}

.progress-bar-frame {
	margin: 0 64px;
}

.progress-bar {
	padding: var(--spacing-2);
	background-color: var(--secondary-bg-color);
}


.notes {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: fit-content;
}

.collapsed-note {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-3);
	width: 100%;
	height: fit-content;
}

.topic-title {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-2);
	width: 100%;
	height: fit-content;
}

.topic-title__check {
	background-color: var(--icon-color-2);
	height: 16px;
	width: 16px;
	border-radius: 50%;
}

.open-note {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	width: 100%;
	height: fit-content;
}

.open-note__title-section {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-3);
	width: 100%;
	height: fit-content;
}

.open-note__note-section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	width: 100%;
	height: fit-content;
	padding: 0 30px;
}

.overview-section {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	gap: var(--spacing-1);
}

.overview-section__description {
	color: var(--input-color-1);
}

.my-note-editor {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	width: 100%;
	height: fit-content;
	background-color: var(--note-bg-color);
	border-radius: var(--border-size-1);
	padding: 16px 12px;
}

.note-section-icons {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-2);
}

.note-section-icons__icon {
	scale: .78;
	color: var(--icon-color-2);
}


.progress-bar__line {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}

.line__gray {
	background-color: var(--main-stroke-color);
}